<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FY21 Twitch Donation Alert</title>
    <base href="https://antone.dev" />
    <link rel="stylesheet" href="alert.css" />
  </head>
  <body>
    <div id="viewport">
      <div id="alert" class="bounce">
        <h1>
          <span>s</span><span>o</span><span>m</span><span>e</span><span>o</span><span>n</span
          ><span>e</span><span>&nbsp;</span><span>a</span><span>n</span><span>o</span
          ><span>n</span><span>y</span><span>m</span><span>o</span><span>u</span><span>s</span
          ><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span
          ><span>7</span><span>8</span><span class="space"></span><span>d</span
          ><span>o</span><span>n</span><span>a</span><span>t</span><span>e</span><span>d</span
          ><span class="space"></span><span>9</span><span>9</span><span>5</span><span>.</span
          ><span>6</span><span>4</span><span>!</span>
        </h1>
      </div>
    </div>
  </body>
</html>
