<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FY21 Twitch Progress Meter</title>
    <link rel="stylesheet" href="https://use.typekit.net/klx0slv.css" />
    <base href="https://antone.dev" />
    <link rel="stylesheet" href="meter.css" />
    <script src="meter.js" defer></script>
  </head>
  <body>
    <div id="viewport">
      <div id="progress-bar" class="progress-bar shine purple">
        <span id="span"></span>
      </div>
    </div>
  </body>
</html>
