<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FY21 Twitch Donation Ticker</title>
    <link rel="stylesheet" href="https://use.typekit.net/klx0slv.css" />
    <base href="https://antone.dev" />
    <link rel="stylesheet" href="ticker.css" />
    <script src="ticker.js" defer></script>
  </head>
  <body>
    <div id="viewport" class="mask">
      <div id="ticker" class="marquee">Recent Donations will be shown here</div>
    </div>
  </body>
</html>
